<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>


          <br>
          <br>
          <% if current_user %>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
              <p>Create a new review</p>
              <br>
              <%= form_for(@review, url: product_reviews_path(@product)) do |f| %>

              <%= select_tag(:rating, options_for_select([[1, 1], [2, 2],[3, 3], [4, 4], [5, 5]])) %>
               <br>
               <br>
              <%= f.text_area :description, size:'30x5' %>
              <br>
              <br>
              <%= f.submit "Submit" %>
              <% end %>
            </div>
          </div>
          <% end %>


          <dt>Reviews</dt>
          <br>
            <% @product.review.all.order("created_at DESC").each do |review| %>
              <dt>User</dt>
              <dd><%= review.user.firstname %></dd>

              <dt>Rating</dt>
              <dd><%= review.rating %></dd>

              <dt>Description</dt>
              <dd><%= review.description %></dd>
          
              <% if review.user_id.to_i == current_user.id %>
                <%= link_to(fa_icon('trash'), sekret_review_path(review), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure?" }) %>
              <% end %>
              <br>
              <br>
              <% end %>





  </article>

</section>
